<root>
    <element>
        <id>1</id>
        <name>Baum</name>
        <type>tree</type>
        <minAmount>10</minAmount>
        <maxAmount>40</maxAmount>
        <iconPath>tree.png</iconPath>
        <walkable>no</walkable>
        <portable>no</portable>
        <info>I'm a tree, you can't walk through me!</info>
        <xBegin>10</xBegin>
        <xEnd>24</xEnd>
        <yBegin>10</yBegin>
        <yEnd>24</yEnd>
        <fixX>0</fixX>
        <fixY>0</fixY>
    </element>
    <element>
        <id>2</id>
        <name>Schloss</name>
        <type>castle</type>
        <minAmount>1</minAmount>
        <maxAmount>1</maxAmount>
        <iconPath>castle.png</iconPath>
        <walkable>no</walkable>
        <portable>no</portable>
        <info>Welcome to the castle!</info>
        <xBegin>50</xBegin>
        <xEnd>80</xEnd>
        <yBegin>50</yBegin>
        <yEnd>80</yEnd>
        <fixX>100</fixX>
        <fixY>200</fixY>
    </element>
    <element>
        <id>3</id>
        <name>Blacksmith</name>
        <type>house</type>
        <minAmount>1</minAmount>
        <maxAmount>1</maxAmount>
        <iconPath>blacksmith.png</iconPath>
        <walkable>no</walkable>
        <portable>no</portable>
        <info>Welcome to the blacksmith!</info>
        <xBegin>50</xBegin>
        <xEnd>80</xEnd>
        <yBegin>50</yBegin>
        <yEnd>80</yEnd>
        <fixX>150</fixX>
        <fixY>450</fixY>
    </element>
    <element>
        <id>4</id>
        <name>StoneHouse</name>
        <type>house</type>
        <minAmount>1</minAmount>
        <maxAmount>1</maxAmount>
        <iconPath>stone_house.png</iconPath>
        <walkable>no</walkable>
        <portable>no</portable>
        <info></info>
        <xBegin>50</xBegin>
        <xEnd>80</xEnd>
        <yBegin>50</yBegin>
        <yEnd>80</yEnd>
        <fixX>50</fixX>
        <fixY>20</fixY>
    </element>
    <element>
        <id>4</id>
        <name>House</name>
        <type>house</type>
        <minAmount>1</minAmount>
        <maxAmount>3</maxAmount>
        <iconPath>house.png</iconPath>
        <walkable>no</walkable>
        <portable>no</portable>
        <info></info>
        <xBegin>50</xBegin>
        <xEnd>80</xEnd>
        <yBegin>50</yBegin>
        <yEnd>80</yEnd>
        <fixX>300</fixX>
        <fixY>100</fixY>
    </element>
    <element>
        <id>5</id>
        <name>FisherHouse</name>
        <type>house</type>
        <minAmount>1</minAmount>
        <maxAmount>1</maxAmount>
        <iconPath>fisher_house.png</iconPath>
        <walkable>no</walkable>
        <portable>no</portable>
        <info></info>
        <xBegin>50</xBegin>
        <xEnd>80</xEnd>
        <yBegin>50</yBegin>
        <yEnd>80</yEnd>
        <fixX>600</fixX>
        <fixY>100</fixY>
    </element>
    <element>
        <id>6</id>
        <name>Knight</name>
        <type>person</type>
        <minAmount>1</minAmount>
        <maxAmount>1</maxAmount>
        <iconPath>knight.png</iconPath>
        <walkable>no</walkable>
        <portable>no</portable>
        <info>I'm the Black Knight</info>
        <xBegin>10</xBegin>
        <xEnd>24</xEnd>
        <yBegin>10</yBegin>
        <yEnd>24</yEnd>
        <fixX>200</fixX>
        <fixY>200</fixY>
    </element>
</root>
